{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended",
    "prettier/vue"
  ],
  "plugins": [
    "vue"
  ],
  "rules": {
    "semi": "off",
    "no-plusplus": "off",
    "prefer-destructuring": "off",
    "eol-last": "off",
    "no-alert": "off",
    "max-len": [
      "error",
      150,
      {
        "ignoreUrls": true
      }
    ],
    "no-param-reassign": "off",
    "quotes": [
      "error",
      "double"
    ]
  }
}